{% extends "base.html" %}

{% block content %}
  <div class="row form-group">
    <label for="date" class="col-sm-1 col-form-label">Date</label>
    <div class="col-sm-2">
        <div class="input-group date" id="datepicker">
            <input type="text" class="form-control">
            <span class="input-group-append">
                <span class="input-group-text bg-white d-block">
                    <em class="fa fa-calendar"></em>
                </span>
            </span>
        </div>
    </div>
  </div>
  <br/>
  <table id="data" class="table table-striped">
    <caption>Fuel and CO2 costs</caption>
    <thead>
      <tr>
        <th>Time</th>
        <th>Fuel Price</th>
        <th>CO2 Quota Price</th>
        <th>Fuel Low?</th>
        <th>CO2 Low?</th>
      </tr>
    </thead>
    <tbody>
      {% for stats in fuel_stats %}
        <tr>
          <td>{{ stats.time }}</td>
          <td>{{ stats.fuel_price }}</td>
          <td>{{ stats.co2_price }}</td>
          <td>{{ stats.fuel_low }}</td>
          <td>{{ stats.co2_low }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          null,
          null,
          null,
          null], /* {orderable: false, searchable: false} */
      });
      $('#datepicker').datepicker({
        clearBtn: true,
        format: "yyyy-mm-dd",
      });
    });
    $("#datepicker").on("change", function() {
        let pickedDate = $("input").val();
        window.location.href = "/" + pickedDate;
    });
  </script>
{% endblock %}