{% extends "base.html" %}

{% block content %}
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="days" data-bs-toggle="dropdown" aria-expanded="false">
      Year
    </a>

    <ul class="dropdown-menu" aria-labelledby="days">
      {% for date in dates %}
      <li><a class="dropdown-item" href="/{{ date }}">{{ date }}</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/">Today</a></li>
      {% endfor %}
    </ul>
  </div>
  <br>
  <table id="data" class="table table-striped">
    <caption>Fuel and CO2 costs</caption>
    <thead>
      <tr>
        <th>Time</th>
        <th>Fuel Price</th>
        <th>CO2 Quota Price</th>
        <th>Fuel Low?</th>
        <th>CO2 Low?</th>
      </tr>
    </thead>
    <tbody>
      {% for stats in fuel_stats %}
        <tr>
          <td>{{ stats.time }}</td>
          <td>{{ stats.fuel_price }}</td>
          <td>{{ stats.co2_price }}</td>
          <td>{{ stats.fuel_low }}</td>
          <td>{{ stats.co2_low }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          null,
          null,
          {searchable: false},
          {searchable: false}],
      });
    });
  </script>
{% endblock %}